.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.buttons-wrapper {
  width: 70%;
  justify-content: flex-start;

  button {
    &:first-child {
      margin-right: 50px;
    }
    &:nth-child(2),
    &:nth-child(3) {
      margin-right: 5px;
    }
  }
}

// TABLE
table {
  margin-top: 30px;
  width: 70%;
  height: 70%;
}

.mat-row .mat-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  cursor: pointer;
}

.mat-row:hover .mat-cell {
  border-color: currentColor;
}

.demo-row-is-clicked {
  font-weight: bold;
}
