.form {
  padding: 30px 50px;
}

.owner {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;

  mat-form-field {
    margin-bottom: 10px;
    width: 250px;
  }
}

.title {
  font-weight: bold;
}

.car-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

mat-dialog-actions {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  div {
    margin-top: 20px;
  }
}
